# Learn more about .gitignore & ignoring files from:
#  https://www.atlassian.com/git/tutorials/saving-changes/gitignore
#  https://help.github.com/articles/ignoring-files/

# Defaults
# Exclude dot-files by default. Use exceptions to incude them.
.*
!.git*
!.editorconfig
!.eslint*
!.prettierrc*
!.vscode
!.husky

## Dev
.eslintcache

# Log files
*.log

# custom directories contaning input and output data
separated/
input/
output/
intermediate/
transcribe_text.csv